@import url("http://fonts.googleapis.com/css?family=Italianno&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Forum&subset=latin,latin-ext");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Forum', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 21px;
    font-weight: 500;
}

#logo-text {
    font-family: 'Italianno', sans-serif;
    font-size: 45px;
    font-weight: 400;
}

span#logo-text a:hover {
    text-decoration: none;
}

footer {
    height: auto;
    width: 100%;
    background-color: #edeeef;
    color: black;
    padding-top: 15px;;
}
a#facebook {
    text-decoration: none;
    font-size: 33px;
}
span#footer-name {
    font-family: 'Italianno', sans-serif;
    font-size: 42px;
}
#copyright {
    font-size: 0.7em;
}

.field-warning {
    padding-top: 3px;
    color: red;
}

.input-warning {
    border: 2px solid red;
}

.field-success {
    margin: 3px; 
    padding: 3px; 
    padding-left: 18px; 
    background-color: lightgreen;
    border-radius: 5px;
}