@import url("http://fonts.googleapis.com/css?family=Italianno&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Forum&subset=latin,latin-ext");

body {
    font-family: 'Forum', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 21px;
    font-weight: 500;
}

#logo-text {
    font-family: 'Italianno', sans-serif;
    font-size: 45px;
    font-weight: 400;
}

span#logo-text a:hover {
    text-decoration: none;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2res;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer {
    height: 150px;
    width: 100%;
    background-color: #d5d5d5;
    color: black;
    padding: 3% 3% 6% 3%;
}