#schedules {
    border: 3px #37AEA8 solid; 
    border-radius: 6px;
    margin: 6px 0 6px 0;
}

#schedules li {
    color: #37AEA8; 
    padding: 6px 0 6px 0;
}

#schedules li:hover {
    color: white; 
    background-color: #37AEA8; 
    padding: 6px 0 6px 0;
}