#result {
    position: absolute;
    width: 100%;
    max-width: 870px;
    max-height: 400px;
    cursor: pointer;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1000
}
.link-class:hover {
    background-color: #f1f1f1;
}