#table-nav-bar {
    background-color: lightskyblue;
    border-radius: 25px;
    margin-bottom: 10px;
}

.head-tile {
    float: left; 
    padding: 10px;
}

tr > th {
    width: 14.2%;
}

#calendar {
    padding: 10px;
}

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 3em;
    overflow: visible;
    vertical-align: -.125em;
}