li:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin: calc(12.5vw + 10px);
}

.modal-open {
    display: block;
    z-index: 3;
}

.dark {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.3;
    z-index: 1;
}