.existing-invoice {
    color: white;
    background-color: #33ff33;
    border-color: green;
}

.nonexistent-invoice {
    color: #33ff33;
    background-color: white;
    border-color: #33ff33;
}

.existing-invoice:hover {
    color: white;
    background-color: #55cc55;
    border-color: green;
}

.clicked {
    color: white;
    background-color: #55cc55;
    border-color: green;
}

a:hover { 
    text-decoration: none; 
}

.link-class:hover {
    background-color: #f1f1f1;
}

.list-group-item:hover {
    background-color: #37AEA8;
    color: white;
}