#map {
    width: 98vw;
    height: 97vh;
}

#search {
    position: absolute;
    width: auto;
    max-width: 360px;
    left: 15px;
    top: 15px;
    padding: 9px 3px 9px 3px;
    background-color: white;
    
    /*box highlight*/
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

#inputs {
    max-width: 360px;
    display: inline;
}

ul > li {
    padding-right: 18px;
    cursor: pointer;
}

li {
    /*disable highlighting*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    
    padding-bottom: 3px;
}

.delete-span:hover {
    color: red;
}

#inputs input { 
    position: relative;
    width: 258px;
    border-radius: 12px;
}

input:focus {
    outline: none;
}

#buttons > a {
    cursor: pointer;
    margin-left: 1rem;
}

.show {
    max-width: 328px;
}

.btn-block:hover {
    background-color: #21B556;
    color: white !important;
}