.padding {
    padding: 2rem;
}

.padding-top {
    padding-top: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-auto-rows: minmax(180px, auto);
    grid-gap: 1em;
    margin: 18px 0 18px 0;
}

.wrapper > div {
    padding: 1em;
    border-radius: 2%;
}