.header-image-section {
    height: 87vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
/*    background-image: url("/img/pink-cristals.jpg");*/
    background-image: url("/img/person-on-a-bridge.jpg");
}

.header-image-section-text {
    padding-top: 7rem;
}

.border {
    /*color: white;*/
    color: black;
    text-align: center;
    font-size: 2.1rem;
    border: none !important;
}


.first-section-header {
    padding: 5rem 0 .6rem 0;
    text-align: center;
    font-size: 2.7rem;
}


.row {
    margin: 0;
}

.three-column-section {
    text-align: center;
    margin: 1.2rem .9rem 1.2rem .9rem;
    padding: 1.8rem 1.2rem 1.8rem 1.2rem;
}

.box {
    margin-bottom: 6.3rem;
    height: 72vh;
}

.box-image {
    height: 36vh;
}

.first-image-in-box {
    width: 100%;
    height: 100%;
}

.box-text {
    height: auto;
    background-color: #e0f4f4;
    padding: 3rem 1rem 1rem 1rem;
    font-size: 1.5rem; 
    color: #95a2a2;
}


.quote-section {
    text-align: center; 
    margin: 0 3rem 0 3rem;
    background-color: #f7f7f7;
    height: auto;
    padding: 6rem 0 6rem 0;
}


.contact-section {
    margin-top: 3rem;
    padding: 5rem 0 .9rem 0;
    height: auto;
    background-color: #f7f7f7;
}

.contact-section-header {
    text-align: center;
    font-size: 2.7rem;
}

#contact-message input[name='name'], #contact-message input[name='email'], #contact-message input[name='topic'] {
    width: 100%;
    padding-left: 0.6rem;
}

#contact-message textarea[name='description'] {
    width: 100%;
    height: 7rem;
    padding-left: 0.6rem;
}

#contact-message button[type='submit'] {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
}

.input-error {
    border: 1px solid red;
    background-color: lightpink;
}


#blog-links {
    padding: 2rem 1rem 2rem 1rem;
}

.blog-post {
    height: 45vh;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 1px solid grey;
}